html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    height: 100%;
    background: rgb(255, 58, 23);


}
/* D grid partage la page en 3 : header, section ,footer */
.wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
}
/* d flex, et en column pour separer div du "logo"  et div du "nav" : cad un au dessus et l'autre en bas*/
.header {
    background: rgb(250, 227, 18);
    height: 100px;
    display: flex;
    flex-direction: column;
    wisdth: calc(100% - 40%);
}

/* make nav in all large of page
*/

/* les deux div en flex et centrer */
.link-logo,
.nav {
    background: #e7dfdf;
    display: flex;
    justify-content: center;

}
/* les logo et autre, width calc() permet de le centrer avec la largeur de 60% */
.link-logo-center {
    dixsplay: flex;
    juxstify-content: center;
    width: calc(100% - 40%);
    background: #e47c7c;
}


/* center with largeur de 60% et a space 20% in end of the both */
.link-nav {

    background: #85e7df;
    width: calc(100% - 40%);
    display: flex;
}

/*set items of categories*/
/* on a un souci la pck sans "ul" cela ne cible pas les items
    A verifier plutart  */
ul .cat-items {
    display: none;
}
/* on cible uniquement les descendant direct. ensuite mise en forme */
.link-nav>li{
    margin-right: 15px;
    background: #837e7e;
    padding: 5px;

    flex: 0 0 100px;
}
/*
.categorie:active .cat-items{
    background: yellow;
    display: block;
}
*/
/* en js on permet de toggle cette attribut pour l'affiche au moment du click */
ul .cat-items-on {
    display: block;
    position: relative; /*pour afficher les parties masquéé par le contain en bas*/
    width: 200px; 
    flex: 0 0 auto;   

    
}
/* mise en forme les items "afficher" */
ul .cat-items-on li{
    margin: 5px 5px 7px 5px;
    padding: 5px;
    backg5round: #508d97;
    border-bottom: 1px solid rgb(97, 94, 91);
    
}

/* mise en forme */
.cat-items {
    background: white;
}


/* d grid partage la section en deux "articles" */
.section {
    background: rgb(22, 90, 180);
    display: grid;
    grid-template-columns: 60%;
    grid-template-rows: minmax(min-content, auto) minmax(10px, auto);


    justify-content: center;

}

/* mise en forme 1ere article */
.article-one {

    background: #b1b1b1;
    width: 100%;

}
/* mise en forme du "div" qui contient la barre de recherche */
.div-search{
    text-align: center;
    padding: 10px;
}
/* "try" un effet : mise en forme de la barre de recherche */
#lui{

    width: 300px;
    height: 40px;
    border-radius: 7px;
    border: 2px solid #5ba19c;
}
/* d flex du "ul" pour mettre en forme le div des items de categorie*/
.cat-items-all{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
}
/* mise en forme des items categorie du 1ere articcle */
.cat-items-all li{
    background: #91d9df;
    padding: 10px;
    margin: 5px;
    border-radius: 3px;

}
/* mise en forme du 2eme article */
.article-two {
    background: #9b3232;

}





/* mise en forme du footer */
.footer {
    background: rgb(92, 72, 72);
    height: 100px;
}

/* try la mise en forme des items generer par js */
.valeur{
    background: #eeec67;
}
.namedonnee{
    background: #1ba7f8;
}